.footer__column-link:link {
  margin: 0;
  text-decoration: none;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.footer__column-link:visited {
  color: #fff;
}

.footer__column-link:active {
  color: red;
}
